
.editlayout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: space-between;
    margin-top: 50px;
    background-color: rgb(201, 201, 201);
    width: 80%;
    height: 1000px;
    margin-left: 10%;
    margin-right: 10%;
}

.editimage {
    width: 47.5%;
    height: 100%;
    background-color: rgb(170, 170, 170);
}


.editAll {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 47.5%;
    height: 47.5%;
    background-color: rgb(177, 177, 177);
}

.editImportant {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 47.5%;
    height: 47.5%;
    background-color: rgb(177, 177, 177);
}

@media screen and (max-width: 800px) {
    .editlayout {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 50px;
        background-color: rgb(201, 201, 201);
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
        height: 1000px;
    }

    .editimage {
        width: 100%;
        height: 100%;
        background-color: rgb(170, 170, 170);
    }

    .editAll {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        background-color: rgb(177, 177, 177);
    }

    .editImportant {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 50%;
        background-color: rgb(177, 177, 177);
    }
}