/* Algemeen */
body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f2f2f2;
    height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* Navbar */
nav {
    background-color: #76C5AF;
    padding: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 90px;
    flex-wrap: wrap;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.5s;
    margin-left: 20px;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
    width: 100%;
    position: absolute;
    justify-content: flex-end;
}

nav li {
    display: inline;
    margin-right: 10px;
}

nav img {
    width: auto;
    height: 50px;
    margin-left: 20px;
    margin-top: 10px;
}

.menu-icon {
    display: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 30px;
    color: #fff;
    transition: transform 0.5s ease-in-out;
}

.menu-icon.rotate {
    transform: rotate(180deg);
}

@media (max-width: 1400px) {
    nav a {
        padding: 10px 10px;
        margin-left: 2px;
        font-size: 15px;
    }

    nav img {
        width: auto;
        height: 40px;
        margin-left: 10px;
        margin-top: 10px;
    }
}

@media (max-width: 970px) {
    nav a {
        padding: 10px 10px;
        margin-left: 2px;
        font-size: 13px;
    }

    nav img {
        width: auto;
        height: 35px;
        margin-left: 10px;
        margin-top: 10px;
    }
}

@media (max-width: 850px) {
    nav a {
        padding: 10px 1px;
        font-size: 10px;
    }

    nav img {
        width: auto;
        height: 23px;
        margin-left: 10px;
        margin-top: 10px;
    }
}

@media (max-width: 600px) {
    .nav-list {
        flex-direction: column;
        align-items: center;
    }

    nav {
        height: auto;
        flex-direction: column;
        justify-content: center;
    }

    nav a {
        margin: 1px 0;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        position: static;
        justify-content: start;
    }

    nav li {
        display: block;
        margin-top: 20px;
        width: 100%;
        text-align: center;
    }

    .menu-icon {
        display: block;
    }

    .nav-list {
        height: 0px;
        transition: all 0.5s ease-in-out;
    }

    .nav-list.active {
        height: 300px;
    }

    nav a {
        padding: 10px 10px;
        margin-left: 2px;
        font-size: 15px;
    }

    nav img {
        width: auto;
        height: 40px;
        margin-left: 10px;
        margin-top: 10px;
    }
}

.navbarObject {
    height: 90px;
    transition: all 0.5s ease-in-out;
}

.navbarObject.active {
    height: 392px;
}

object {
    width: 100%;
}

/* Footer */
footer {
    background-color: #76C5AF;
    color: #fff;
    text-align: center;
    width: 100%;
    padding: 20px;
    height: 100px;
}

.footerobject {
    margin-top: auto;
    height: 100px;
}
.bodyfooter{
    display: flex;
    justify-content: end;
}
/* education */

#Bodycoach {
    display: flex;
    justify-content: center;
    align-items: center;
}

#sectioncoach {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    color: black;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: #51A7D8 solid 3px;
}